{{ template "header.html" . }}

<div class="center-container">
    <h1>BGP Communities</h1>

    <ul>
        <p>AS44354 makes available the following BGP communities:</p>
        <table class="data-table">
            <thead>
                <th colspan="2">BGP Info Communities</th>
            </thead>
            <tr>
                <td>44354:1001</td>
                <td>Learned From Connections in AU</td>
            </tr>
            <tr>
                <td>44354:1002</td>
                <td>Learned From Connections in AS</td>
            </tr>
            <tr>
                <td>44354:1003</td>
                <td>Learned From Connections in NA</td>
            </tr>
            <tr>
                <td>44354:1004</td>
                <td>Learned From Connections in EU</td>
            </tr>
            <tr>
                <td>44354:2001</td>
                <td>Learned From AS6939 (Hurricane Electric)</td>
            </tr>
            <tr>
                <td>44354:2002</td>
                <td>Learned From AS34927 (iFog GmbH)</td>
            </tr>
            <tr>
                <td>44354:2003</td>
                <td>Learned From AS400818 (Ausra)</td>
            </tr>
            <tr>
                <td>44354:2004</td>
                <td>Learned From AS20473 (Vultr LLC)</td>
            </tr>
            <tr>
                <td>44354:2005</td>
                <td>Learned From AS41051 (Openfactory GmbH)</td>
            </tr>
            <tr>
                <td>44354:3001</td>
                <td>Learned From LocIX</td>
            </tr>
            <tr>
                <td>44354:3002</td>
                <td>Learned From FogIXP</td>
            </tr>
            <tr>
                <td>44354:3003</td>
                <td>Learned From KCIX</td>
            </tr>
            <tr>
                <td>44354:3004</td>
                <td>Learned From F4IX MCI</td>
            </tr>
        </table>
    
        <p>If you would like to peer, please <a href="/contact">Contact</a> us.</p>
    
    </ul>


</div>


{{ template "footer.html" . }}
