{{ template "header.html" . }}
<div class="content">

    <div class="center-container">
        <h1>Contact</h1>

        <p>You can contact us using the following methods:</p>

        <ul>
            <p>For peering requests:</p>
            <a href="/" id="address1">
                <script>d="qffsjohAbt55465/ofu".split("").map(c=>String.fromCharCode(c.charCodeAt(0)-1)).join("");document.getElementById("address1").href="mailto:"+d;document.getElementById("address1").innerText=d</script>
            </a>
            <p>For abuse reports:</p>
            <a href="/" id="address2">
                <script>d="bcvtfAbt55465/ofu".split("").map(c=>String.fromCharCode(c.charCodeAt(0)-1)).join("");document.getElementById("address2").href="mailto:"+d;document.getElementById("address2").innerText=d</script>
            </a>
            <p>For network operations:</p>
            <a href="/" id="address3">
                <script>d="opdAbt55465/ofu".split("").map(c=>String.fromCharCode(c.charCodeAt(0)-1)).join("");document.getElementById("address3").href="mailto:"+d;document.getElementById("address3").innerText=d</script>
            </a>
        </ul>
    </div>

    <footer>
        &copy; {{ .Year }} AS44354
    </footer>
</div>
{{ template "footer.html" . }}
