<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS44354</title>
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="icon" href="/static/img/favicon.ico">
</head>
<body>
    <div class="top-bar">
        <a href="/"><img src="/static/img/logo.svg" alt="Logo" class="logo"></a>
        <button class="hamburger" id="hamburger">&#9776;</button>
        <div class="nav-links" id="nav-links">
            <a href="/peering">Peering</a>
            <a href="/communities">Communities</a>
            <a href="https://lg.as44354.net">Looking Glass</a>
            <a href="https://status.as44354.net">Status</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
