{{ template "header.html" . }}
<div class="content">

    <div class="center-container">
        <h1>Points of Presence</h1>

        <p>AS44354 has presence in the following locations:</p>

        <table class="locations-table">
            <thead>
                <th>Location</th>
                <th>IXP</th>
                <th>Address</th>
                <th>RS</th>
            </thead>
            <tr>
                <td>Fremont, US</td>
                <td>FREMIX</td>
                <td>2001:504:125:e0::fa</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>Toronto, CA</td>
                <td>ONIX</td>
                <td>2001:504:125:e1::bde</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>Ashburn, US</td>
                <td>NVIX</td>
                <td>2001:504:125:e2::ad</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>London, GB</td>
                <td>LONAP</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Zurich, CH</td>
                <td>FogIXP</td>
                <td>2001:7f8:ca:1::4:4354:1</td>
                <td>Y</td>
            </tr>
            <tr>
                <td>Frankfurt, DE</td>
                <td>LocIX</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>

        <p>Peering is available at all locations. See our <a href="/peering">Peering Policy</a> for more information.</p>

    </div>


    <footer>
        &copy; {{ .Year }} AS44354
    </footer>
</div>
{{ template "footer.html" . }}
