{{ template "header.html" . }}

<div class="center-container">
    <h1>Peering</h1>

    <ul>
        <p>AS44354 has an open peering policy, we will peer with any network as long you meet the following basic requirements:</p>
        <li>You have a publically routable ASN and IPv6 address space.</li>
        <li>You have a complete and up-to-date PeeringDB profile.</li>
        <li>You only send us traffic from your own or your downstream networks.</li>
        <p>We also reserve the following rights:</p>
        <li>To change our peering policy at any time without notice.</li>
        <li>To cease peering at any time without notice.</li>
        <li>To withdraw routes at any time without notice.</li>
        <p>The current peering locations are:</p>
        <table class="data-table">
            <thead>
                <th>Location</th>
                <th>IXP</th>
                <th>Address</th>
            </thead>
            <tr>
                <td>Kansas City, US</td>
                <td>F4IX MCI</td>
                <td>2602:fa3d:f4:1::a1</td>
            </tr>
            <tr>
                <td>Kansas City, US</td>
                <td>KCIX</td>
                <td>2001:504:1b:1::183</td>
            </tr>
            <tr>
                <td>Zurich, CH</td>
                <td>FogIXP</td>
                <td>2001:7f8:ca:1::4:4354:1</td>
            </tr>
            <tr>
                <td>Frankfurt, DE</td>
                <td>LocIX</td>
                <td>2001:7f8:f2:e1:0:4:4354:1</td>
            </tr>
        </table>
    
        <p>If you would like to peer, please <a href="/contact">Contact</a> us.</p>
    
    </ul>


</div>


{{ template "footer.html" . }}
